<div class="container">

    <div>
        <a href="addlocation">
            <span class="material-icons" style="color: green; margin-right: 5px;">add_circle</span>
            <h4 class="fontMirt" style="display:inline;">เพิ่มโรงงาน</h4>
        </a>
    </div>

    <div class="fontMirt" style="margin-top:30px;"> 
        <span class="material-icons" style="color: green; margin-right: 5px;">list</span>
        <h4 style="display:inline;">รายชื่อโรงงาน</h4>
        <br/>
        <input type="text">
        <button>ค้นหา</button>
    </div>


    <div>
        <select class="fontMirt">
            <option>ประเภทธุรกิจ</option>
            <option>A</option>
            <option>B</option>
        </select>
        <select class="fontMirt">
            <option>Implementation Unit</option>
            <option>A</option>
            <option>B</option>
        </select>
        <select class="fontMirt">
            <option>สายงาน</option>
            <option>A</option>
            <option>B</option>
        </select>
    </div>

    <div>
        <table class="tables">
            <thead class="thead-dark">
            <tr class="fontSarabun">
                <th scope="col">ชื่อโรงงาน</th>
                <th scope="col">ประเภทธุรกิจ</th>
                <th scope="col">Implementation Unit</th>
                <th scope="col">สายงาน</th>
                <th ></th>
                <th ></th>
            </tr>
            </thead>
            <tbody>
            <tr class="fontSarabun">
                <td class="centerText">โรงงาน A</td>
                <td class="centerText">Farm</td>
                <td class="centerText">ธุรกิจสุกร</td>
                <td class="centerText">สายงานเลี้ยงสุกร</td>
                <td> 
                    <span class="material-icons-sharp">edit</span>  
                </td>
                <td> 
                    <span class="material-icons-sharp">delete</span> 
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
