<div class="container">

    <div style="margin-bottom: 10px">
        <span class="material-icons" style="color: green; margin-right: 5px;">add_circle</span>
        <h4 class="fontMirt" style="display:inline;">เพิ่มโรงงาน</h4>
    </div>

    <form class="fontMirt" style="margin-top: 40px;">
        <div class="form-group row searchitem">
            <label  class="col-sm-2 col-form-label">ชื่อโรงงาน</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputLawName" placeholder="ชื่อโรงงาน">
            </div>
        </div>
        <div class="input-group inputblock">
            <label  class="col-sm-2 col-form-label">ประเภทธุรกิจ</label>
            <select id="inputType" class="form-control" style="border-radius: 5px; margin-left: 3px;">
                <option selected>Choose...</option>
                <option>A</option>
                <option>B</option>
            </select> 
        </div>
        <div class="input-group inputblock">
            <label  class="col-sm-2 col-form-label">Implementation Unit</label>
            <select id="inputType" class="form-control" style="border-radius: 5px; margin-left: 3px;">
                <option selected>Choose...</option>
                <option>A</option>
                <option>B</option>
            </select> 
        </div>
        
        <button type="submit" class="btn btn-primary">เพิ่มโรงงาน</button>
    </form>

</div>
