
.container {
    margin-Top: 40px;
    padding-bottom: 50px;
}

.fontMirt {
    font-family: 'Mitr', sans-serif;
}

.fontSarabun {
    font-family: 'Sarabun', sans-serif;
}

.material-icons {
    vertical-align:sub; 
    font-size: 36px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 40px;
}

h5 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.btn {
    margin-top: 30px;
    background: #008B43;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.searchitem {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 30px;
}

.thead-dark {
    background: rgb(190, 231, 209);
}

th {
    color: black;
    text-align: center;
}

tr { 
    border-width: 0.5px;
    border-color: black;
}

td { 
    padding: 10px;
}

.centerText {
    text-align: center;
}
