<div class="container">

    <div>
        <a href="addemployee">
            <span class="material-icons" style="color: green; margin-right: 5px;">add_circle</span>
            <h4 class="fontMirt" style="display:inline;">เพิ่มพนักงาน</h4>
        </a>
    </div>

    <div class="fontMirt" style="margin-top:30px;"> 
        <span class="material-icons" style="color: green; margin-right: 5px;">list</span>
        <h4 style="display:inline;">รายชื่อพนักงาน</h4>
        <br/>
        <input type="text">
        <button>ค้นหา</button>
        <select class="fontMirt">
            <option>สถานที่</option>
            <option>A</option>
            <option>B</option>
        </select>
    </div>

    <div>
        <table class="tables">
            <thead class="thead-dark">
            <tr class="fontSarabun">
                <th scope="col">ชื่อสกุล</th>
                <th scope="col">Email</th>
                <th scope="col">สถานที่ทำงาน</th>
                <th ></th>
                <th ></th>
            </tr>
            </thead>
            <tbody>
            <tr class="fontSarabun" *ngFor="let emp of EmployeeList; let index = index">
                <td class="centerText">{{emp.name}}</td>
                <td class="centerText">{{emp.email}}</td>
                <td class="centerText" >
                    <p *ngFor="let duty of emp.duties;">{{duty.role}} - {{duty.location}}</p>
                </td>
                <td> 
                    <span class="material-icons-sharp">edit</span>  
                </td>
                <td> 
                    <span class="material-icons-sharp">delete</span> 
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
