
.container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.thead-dark {
    background: rgb(190, 231, 209);
}

th {
    color: black;
    text-align: center;
}

tr { 
    border-width: 0.5px;
    border-color: black;
}

td { 
    padding: 10px;
}

.centerText {
    text-align: center;
}

.fontMirt {
    font-family: 'Mitr', sans-serif;
}

.fontSarabun {
    font-family: 'Sarabun', sans-serif;
}