
.font {
    font-family: 'Mitr', sans-serif;
}

h4 {
    margin-top: 20px;
    margin-bottom: 40px;
}

h5 {
    margin-top: 50px;
    margin-bottom: 20px;
}

button {
    margin-top: 30px;
    background: #008B43;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.searchitem {
    margin-top: 20px;
}

.container {
    margin-bottom: 50px;
}